.expression {
    width: 279px;
}

input {
    margin: 10px;
    
}

.label {
    position: relative;
    margin: 10px;
}

span{
    margin: 6px;
}

button{
    text-align: center;
    position: relative;
    margin-left: 160px;
    height: 40px;
    width: 50px;
}

canvas {
    position: relative;
    margin: 10px;
    background-color: #F0F0FF;
    width: 375;
    height: 200;
    border: 1px solid black;
}
.minLabel{
    margin-left: 10px;
}
.maxLabel{
    float: right;
    margin-right: 10px;
    margin-top: 0;
}
.oneFourth{
    margin: 0;
    position:relative;
    left: 103.5px;
}

.oneHalf{
    margin: 0;
    position:relative;
    left: 197.5;
}

.body {
    background: linear-gradient(to bottom, #DFDFDF, #AEAEAE);
    height: 400px;
    width: 400px;
    border: 1px solid black;
    position: absolute;
}