.expression {
    width: 279px;
}

input {
    margin: 10px;
    
}

.label {
    position: relative;
    margin: 10px;
}

span{
    margin: 6px;
}

canvas {
    position: relative;
    margin: 10px;
    background-color: #DDDDDD;
    width: 375;
    height: 200;
    border: 1px solid black;
}

body {
    background-color: #F0F0F0;
    height: 400px;
    width: 400px;
    border: 1px solid black;
    position: absolute;
}