.quiz{
    margin-bottom:50px;
}

.message{
    font-size: 20pt;
}

.correct{
    color: green;
}

.incorrect{
    color: red;
}

.end{
    margin: 10px;
    font-size: 20pt;
    font-weight:bold;
}

.retry{
    margin: 10px;
}

